<div class="container">
    <footer class="footer">
        <small>
        Copyright &copy; <a href="#">The Life and Times</a>
        by <a href="http://wwww.facebook.com/kduls">Abdulkarim Mugubi</a>
        </small>
        <nav>
           <ul>
                <li><%= link_to "About", about_path %></li>
           </ul>
        </nav>
    </footer>
</div>

